h1{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  padding-left: 50px;
}

.spectab{
  height: 300px;
  width: 1000px;
}

td{
  border: 8px solid white;
}

#one{
  background-color: #f46e41;
}

#two{
  background-color: #f4a641;
}

#three{
  background-color: #f4ee41;
}

#four{
  background-color: #41f48b;
}

#five{
  background-color: #41e5f4;
}
